$body-color: rgb(93, 91, 107);
*{
  margin:0;
}

a {
  color: red;
  text-decoration: none;
}

iframe{
width:700px;
height:1000px;

}
.label-wrap-div{
  position: sticky;
  width: 100%;
  height:30px;
  background-color:rgba($color:#fff, $alpha: .8);
  right:0px;
  top: 100px;
}
.label-wrap-div svg{
  width:100%;
  height:inherit;
}

h1, h2, h3{
  font-family: 'Raleway';
}

body {
  color: $body-color;
  font-family: sans-serif;
  margin:0;
  padding:0;
  font-family: sans-serif;
}

#header{
  background-color: rgb(236, 236, 236);
  height:100px;
  position: sticky;
  top:0;
  width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header nav nav"
}
#header h1{
  display: inline;
  grid-area: header;
  margin-left: 100px;
  cursor: pointer;
}

#sidebox{
  position:fixed;
  top:170px;
  right:10px;
  bottom:0;
  pointer-events: none;
}


#sidebox-wrap{
  position:fixed;
  top:140px;
  right:10px;
  bottom:0;
  //pointer-events: none;
}

#sidebox svg{
  width: 100%;
  height: 100%;
}

.button-wrap{
  grid-area: nav;
  margin-top:20px;
  justify-self: center;
}

.citation-wrap{
  display:grid;
  width:90%;
  justify-self: center;
  margin:auto;
  padding-top:20px;
}

.citation{
  padding:5px;
}

.event circle{
  fill:white;
  stroke: gray;
}

.section{
  width:95%;
  margin-left:100px;
  margin-top: 20px;
}

.sub-section{
  margin-top: 20px;
}

.sketch{
  width:90%;
  height:auto;
  display: block;
  margin:auto;
}

.sketch-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-block{
  width: 1000px;
}

.timeline{
  width:100%;
}

/**
button CSS
**/
$color-gray: #666;
$color-black: #000;
$stripe-height: 7px;
$btn-color: $color-gray;
$btn-background: #fff;
$btn-color-hover: #fff;
$btn-background-hover: $color-gray;
$border-color: $color-gray;
$border-color-hover: $color-black;

@mixin reset-button {
    overflow : visible;
    margin : 0;
    padding : 0;
    border : 0;
    background : transparent;
    font : inherit;
    line-height : normal;
    cursor : pointer;
    -moz-user-select : text;
    
    &:-moz-focus-inner {
        padding : 0;
        border : 0;
    }
}

@keyframes stripe-slide {
    0% { background-position: 0% 0; }
    100% { background-position: 100% 0; }
}

.btn {
    @include reset-button;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 36px 22px;
    background-color: $btn-background;
    color: $btn-color;
    border: 2px solid $border-color;
    border-radius: 6px;
    margin-bottom: 16px;
    margin-left:5px;
    transition: all .5s ease;
    
    &--stripe {
        overflow: hidden;
        position: relative;
        
        &:after {
            content: '';
            display: block;
            height: $stripe-height;
            width: 100%;
            background-image: repeating-linear-gradient(
                45deg,
                $border-color,
                $border-color 1px,
                transparent 2px,
                transparent 5px
            );
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-top: 1px solid $border-color;
            position: absolute;
            left: 0;
            bottom: 0;
            background-size: $stripe-height $stripe-height;
        }

        &:hover {
            background-color: $btn-background-hover;
            color: $btn-color-hover;
            border-color: $border-color-hover;

            &:after {
                background-image: repeating-linear-gradient(
                    45deg,
                    $btn-color-hover,
                    $btn-color-hover 1px,
                    transparent 2px,
                    transparent 5px
                );
                border-top: 1px solid $border-color-hover;
                animation: stripe-slide 12s infinite linear forwards;
            }
        }
    }
    
    &--large {
        width: 50%;
    }
    
    &--radius {
        border-radius: 36px;
    }
}
